body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
}

.summoner-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the top left */
  justify-content: flex-start;
  width: 90%;
  max-width: 600px;
  height: 90%;
  padding: 20px;
  border-radius: 15px;
  background-color: #3e3e3e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  overflow-y: auto; /* Enable vertical scrolling */
}

.search-bar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px; /* Ensure some space from the top */
}

.search-bar input {
  padding: 8px;
  font-size: 16px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.summoner-details {
  margin-top: 20px;
  text-align: left; /* Align text to the left */
}

.summoner-details .profile-icon {
  width: 85px; /* Set the width of the profile icon */
  height: 85px; /* Set the height of the profile icon */
  margin-right: 10px; /* Add some space to the right of the profile icon */
}

.summoner-details .rank-icon {
  width: 54px; /* Set the width of the rank icon */
  height: 54px; /* Set the height of the rank icon */
  margin-top: 10px; /* Add some space above the rank icon */
}

.match-history {
  margin-top: 20px;
  width: 100%;
}

.match-item {
  margin-bottom: 15px; /* Add gap between each game */
  padding: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #444;
}

/* Custom backgrounds for rank */

.rank-iron {
  background: linear-gradient(45deg, #4e4e4e, #2e2e2e);
}

.rank-bronze {
  background: linear-gradient(45deg, #cd7f32, #8c6239);
}

.rank-silver {
  background: linear-gradient(45deg, #c0c0c0, #a9a9a9);
}

.rank-gold {
  background: linear-gradient(45deg, #ffd700, #daa520);
}

.rank-platinum {
  background: linear-gradient(45deg, #00bfff, #32cd32);
}

.rank-emerald {
  background: linear-gradient(#50c878, #133824);
}

.rank-diamond {
  background: linear-gradient(#1c90aa, #0a3770);
}

.rank-master {
  background: linear-gradient(45deg, #ff00ff, #800080);
}

.rank-grandmaster {
  background: linear-gradient(45deg, #ff4500, #8b0000);
}

.rank-challenger {
  background: linear-gradient(
    45deg,
    #00ffff,
    #0000ff,
    #a8990d
  ); /* Three colors for the gradient */
}
